@import "reset";
@import "variables";
@import "mixins";

//other styles goes here
#main-nav {
    width:100%;
    background-color: $deepBlue;
    margin:0;
    padding:0;
    border-bottom: 5px solid complement($deepBlue);
    box-shadow: 0px 10px 15px $lightBlue;
    margin-bottom: 20px;
    z-index:-100;
    h1 {

        padding:20px;
        margin:0;
        margin-bottom:10px;
        color:white;
        text-align:center;
        text-decoration-line: underline;
        text-decoration-style: double;
        text-decoration-color: complement($deepBlue);
    }
}



.blog_post {
    background-color: $blogPostBg;
    width:85%;
    padding:15px;
    max-width:600px;
    margin:10px auto;
    border:1px solid $lightBlue;
    box-shadow:5px 5px 10px grey;
    h2 {
        text-align: center;

    }
    p {
        border-radius: 5%;
        background-color: $blogPBg;
        text-align: center;
        margin:5px 10px;
        padding:5px 10px;
    }
}

img {
    width:100%;
    margin:auto;

}

.blog_footer {
    width:100%;
    max-width:500px;
    margin:auto;
}

#footer {
    width:100%;
    margin:auto;
}

.ftr {
    text-align: center;
    background-color: $deepBlue;
    padding:20px;
    a {
        color:white;

    }
    .fa {
        color: white;
        padding:2px;
    }
}
